{% extends 'main/layout.html' %}
{% load static %}


{% block title %} {{ home.title }} {% endblock %}

{% block content %}
<div class="features">
    <div class="detail">
        <img class="imgfile" src="{{ home.img.url }}" alt="">
        <h1>{{ home.title }}</h1>
        <p>{{ home.date }}</p>
        <p>{{ home.description }}</p>
        <div align="center">
            <a href="{% url 'delete_home' home.id %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'update_home' home.id %}" class="btn btn-warning">Изменить</a>
        </div><br>
    </div>
</div>
{% endblock %}